body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #b6ecdc;
    color: black;
    padding: 0;
    margin: 0;
}

header {
    background: #dcb6ec;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px 40px;
}

.header-block {
    width: fit-content;
    margin: 0 auto;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.slogan{
    font-family: 'Pacifico', 'Brush Script MT', cursive, sans-serif;
    font-size: 80px;
    color: #b6ecdc;
    text-shadow: 2px 4px 12px black, 0 2px 8px black, 0 1px 0 black;
    letter-spacing: 2px;
    margin: 0;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.nav-list a {
    display: flex;
    margin: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    background-color: #ecb6c6;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.nav-list a:hover {
    background-color: #b6ecdc;
    box-shadow: 0 4px 16px rgba(0,0,0,0.4);
}

.nav-list a[aria-current="page"] {
    background-color: #b6ecdc;
}

.intro {
    margin: 40px;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    font-size: 18px;
}

h1, h2{
    font-style: italic;
    letter-spacing: 4px;
    margin: 0;
    text-align: center;
}

.intro-video {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

video {
    width: 100%;
    max-width: 800px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,1);
}

.recipes {
    padding: 40px;
}

.recipes h2 {
    text-align: left;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 16px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: box-shadow 0.2s;
}

.recipe-card:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.10);
    background-color: #ecb6c6;
}

.recipe-card img {
    width: 80px;
    height: 80px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.10);
    margin-bottom: 20px;
    border-radius: 8px
}

footer {
    background: #dcb6ec;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

@media (max-width: 760px) {
  nav[aria-label="Main navigation"] {
    display: none;
  }
  .slogan {
    font-size: 50px;
    text-align: center;
  }
  .intro video {
    display: none;
  }
}